.darktheme{
    --text: #EBF6F0 ;
    --background : #030705;
    --primary : #9DDBB7;
    --secondary: #2B804F;
    --accent : #57CD89;
}

.lighttheme{
    --text: #09150F ;
    --background : #F8FCFA;
    --primary : #24613D;
    --secondary: #7DD4A1;
    --accent : #32A964;
} 


:root{
    --mainbackground:#7DD4A1  ;
    --accentbackground : white;
    --textP: #151111;
    --textS: white;
    --primary:  #24613D ;
    --secondary: ;
    --accent:  #32A964;
}

/* :root{
    --mainbackground: rgb(3, 3, 3)  ;
    --accentbackground : rgb(19, 17, 17);
    --textP: white;
    --textS: #151111;
    --primary: ;
    --secondary: ;
    --accent: #ffe0d2 ;
} */


main{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--mainbackground);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box
{   position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: var(--accentbackground);
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0,0,0,0.27); 
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-box-login{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-box-signup
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

}
.forms-wraps
{
    height: 100%;
    width: 45%;
    
}


.carousel
{
    height: 100%;
    width: 55%;
    background-color: var(--accent);
    border-radius: 2rem;
    
    
}

form{
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo
{
    display: flex;
    align-items: center;


}
.logo img{
    width: 50px;
    margin: 0.3rem;

}
.logo h3{
    font-size: 1.1rem;
    margin-top: -9px;
    letter-spacing: -0.5px;
    color: var(--textP);

}
.heading{
   
   margin: 100px;

}

.heading h2{
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--textS);
}
.heading h6{
    color: var(--textS);
    font-weight: 400;
    font-size: 0.75rem;
    display: inline;
    margin-right: 5px;
}

.link
{
    color: var(--textS);
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    transition: 0.3s;
    &:hover{
     color: var(--textP);
    }
}

.input-wrap
{
    position: relative;
    height: 37px;
    margin-bottom: 2rem;

}
.input-filed{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: 0.95rem;
    color: var(--textP);
    transition: 0.3s;
    &:focus{
        border-bottom-color: var(--textP);
    } 
   
}

.input-filed:focus + label,
.input-filed:valid +label
{
    font-size: 0.75rem;
    top: -4px;
}



label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    font-size: 0.95rem;
    color: #bbb;
    pointer-events: none;
    transition: 0.3s;
}


#file
{
    font-size: 14px;
    color: #bbb;
    width: 100%;
    margin-top: 10px;
    
}

::-webkit-file-upload-button{
    color: var(--accentbackground) ;
    padding: 8px;
    background: var(--textP);
    height: 35px;
    border-radius: 0.8rem;

}

#file-label
{
   top: -3px;
}



.submit-btn
{
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: var(--textP);
    color: var(--accentbackground);
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
    &:hover{
        background-color:var(--mainbackground);
        color: var(--textP);
    }
}

.text{
    color: #bbb;
    font-size: 0.7rem;
}

.text a{
    color: #bbb;
    transition: 0.3s;
    &:hover{
        color: var(--textP);
    }
}

@media (max-width :850px)
{
    .box{
        
        max-width: 550px;
        overflow: hidden;
    }
    
    .inner-box-login ,.inner-box-signup{
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
    .carousel
    {
        display: none;
    }
    .forms-wraps
    {
        width: 100%;
    }
   

}





